.feed-container {
     display: flex;
     flex-direction: column;
     gap: 25px;;
     align-items: center;
     justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    position: relative;
   }
   .feed-container{
    background-image:  url(/images/SoGit3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
    
   }
   .parallax{
    display: flex;
    flex-direction: column;
     gap: 70px;;
     align-items: center;
     justify-content: flex-start;
     overflow: scroll;
     padding-top: 100px;
     margin-top: 100px;
     position: absolute;
     top:0;
     bottom: 0;
   }
   .parallax::-webkit-scrollbar{
    display: none;
   }
   .parallax:first-child{
   margin-top: 10px;
   padding-top: 50px;
   
   }

   .feed-card {
     width: 80%;
     margin-bottom: 20px;
     padding: 50px;
   }
   .accordion{
     padding:15px;
   }
   .icon-click{
    height: 50px;
    width: 50px;
    z-index: 10;
    position:relative;
   
   }
   .icon-click div{
    position: absolute;
   height: 65px;
   width: 65px;
   top: 0;
   left:0;

   z-index: 20000 !important;
   }
   .icon-container{
    z-index: -50;
    position: absolute;
   }
   .card-wrapper{
     align-self: center;
     margin: auto;
     width: 950px;
   }