.feed-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     align-self: flex-end;
     justify-content: center;
     height: 100vh;
    
   }
   
   .feed-card {
     width: 80%;
     margin-bottom: 20px;
     padding: 50px;
   }
   .accordion{
     padding:15px;
   }