.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

.search-box input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
}

.search-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #0056b3;
}

.search-box button i {
  font-size: 18px;
}
.logout-button-container button{
  margin-top: 10px; 
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  
 

  
}
.profile-container {
  margin-top: 60px; 
}
